* {
    box-sizing: border-box;
    margin: 0;
}

.all {
    width: 400px;
    height: 667px;
    border-radius: 20px;
    margin: auto;
    background-color: #F8EEE2;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

header {
    height: 86px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    font-family: 'Titan One', cursive;
    font-size: 20px;
    color: #403B36;
}

main {
    display: flex;
    justify-content: center;
    height: 385px;
}

.items {
    padding: 0;
    overflow-y: auto;
}

.items::-webkit-scrollbar {
    width: 10px;
}

.items::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.items::-webkit-scrollbar-thumb {
    background-color: #D9614C;
    border-radius: 100px;
    background-clip: padding-box;
    border: 1px solid transparent;
}


.item__row {
    position: relative;
    list-style: none;
    width: 319px;
    height: 50px;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: #FFFDFA;
}

.item__name {
    position: absolute;
    top: 11px;
    left: 15px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #595550;
}

.trashBtn {
    position: absolute;
    top: 18px;
    right: 15px;
    display: block;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: #FFFDFA;
    transition: transform 300ms;
}

.trashBtn:hover {
    color: red;
    transform: scale(1.2);
}

footer {
    height: 150px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write {
    margin-bottom: 5px;
    height: 30px;
    width: 310px;
    text-indent: 8px;
    border-radius: 8px;
    border: none;
    background-color: #FFFDFA;
}

.add__button {
    display: block;
    padding: 0;
    width: 319px;
    height: 74px;
    border-radius: 12px;
    border: 0;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    background-color: #D9614C;
    color: white;
    cursor: pointer;
    transition: transform 400ms;
}

.add__button:hover {
    transform: scale(1.03);
}